button {
display: block;
margin-left: auto;
margin-right: auto;
width: 420px;
height: 55px;
border: none;
border-radius: 0;
background-color: #F24D16;
font-family: inherit;
font-size: 20px;
cursor: pointer;
box-shadow: 10px 10px 6px #000000;
transition: transform 200ms ease-in-out;
}

button:hover {
transform: scale(1.05);
}